@import "application";

@media #{$small-and-down} {
  .landing-container {
    padding: 10px;
  }
}

@media #{$medium-and-up} {
  .landing-container {
    padding: 10%;
  }
}

.landing-title {
  text-align: center;
  margin: 50px 0px;

  .first-line {
    font-size: 40px;
  }

  .for-word {
    color: grey;
    margin-top: 10px;
    margin-bottom: 20px;
    font-family: 'Pacifico', cursive;
  }

  .last-line {
    font-size: 30px;
  }
}

.landing-browse-all-campaigns {
  text-align: center;
  margin: 50px 0px;

  .how-it-works-link {
    margin-top: 10px;
  }
}

