@import "application";

.notification-box {
  margin: 0px;
  padding: 20px 40px;
  text-align: center;
  position: relative;
  color: white;

  button {
    position: absolute;
    right: 15px;
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
  }

  &.alert {
    @extend .red, .lighten-2;
  }

  &.notice {
    color: black;
    @extend .purple, .lighten-4;
  }
}