nav {
  .brand-logo {
    position: absolute;
  }

  .navbar-brand {
    font-family: 'Pacifico', cursive;
    float: none;
    font-size: 24px;
  }

  @media(min-width:992px) {
    .navbar-brand {
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      -moz-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      -o-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
    }
  }

  .dropdown-button {
    min-width: 200px;
    padding-left: 60px;
    position: relative;
  }

  .navbar-avatar {
    position: absolute;
    left: 15px;
    top: 11px;
  }
}

#mobile-nav {
  li a {
    line-height: 3;
  }

  .avatar-and-name {
    position: relative;
    padding-left: 60px;

    .avatar {
      position: absolute;
      left: 0px;
    }
  }
}

.navbar-center {
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  text-align: center;
  margin: auto;
  height: 100%;
  padding-top: 20px;
}

.navbar-right {
  margin-right: 0px;
}


.navbar-toggle {
  z-index: 10;
}

.highlighted-dropdown {
  color: #262626;
  background-color: #f5f5f5;
}

// .navbar-action-button {
//   color: white !important;
//   padding: 10px 20px !important;
//   margin-top: 5px;
// }

.active-underline {
  margin-top: -8px;
  border-bottom: 3px solid lightgrey;
}

.notification-badge {
  margin-left: 5px;
}