.filter-holder {
  position: fixed;
  left: 0;
}

.filter-dropdown-holder {
  text-align: center;

  .dropdown-button {
    width: 200px;
  }
}

.pagination-holder {
  text-align: center;
  margin: 50px 0px;
}