.connection-holder {
  margin-bottom: 10px;
  
  .connection-creator {
    width: 50px;
    float: left;
  }

  .connection-content {
    margin-left: 50px;
  }

  .bottom-info {
    color: grey;
  }
}
