// @media(max-width:767px) {
//   body {
//     padding-top: 59px;
//   }
// }

// @media(min-width:768px) {
//   body {
//     padding-top: 64px;
//   }
// }

.main-content {
  padding: 10px;
}

.alert {
  text-align: center;
  border-radius: 0px;
  margin-bottom: 0px;
  padding-left: 50px;
}

.page-title {
  text-align: center;
}

.page-super-title {
  text-align: center;
  color: grey;
  margin-bottom: -10px;
  margin-top: 20px;
}

.large-profile-picture {
  width: 200px;
  margin: 0 auto;
}