.activities-tabs {
  margin-top: 30px;
}

.nav-pills {
  .badge {
    margin-left: 5px !important;
  }
}

.no-activity-yet {
  margin-top: 30px;
}

.grid-timestamp {
  color: grey;
  font-style: italic;
  margin-top: 10px;
}

.connection-message {
  margin-bottom: 0px;
}

.profile-kudos-holder {
  text-align: center;
}