.activities-tabs {
  margin-top: 30px;
}

.nav-pills {
  .badge {
    margin-left: 5px !important;
  }
}

.no-activity-yet {
  margin-top: 30px;
}

.received-grid-action-buttons {
  .btn-warning {
    margin-left: 10px;
  }

  .fa-check-circle {
    font-size: 30px;
    color: #5cb85c;
  }
}