.help-received-connection-title {
  text-align: center;
}

.help-received-connection-holder {
  margin-bottom: 20px;
  text-align: center;
}

@media(max-width:767px) {
  .received-grid-action-buttons {
    margin-top: 10px;
  }
}

.received-grid-action-buttons {
  .btn-warning {
    margin-left: 10px;
  }

  .fa-check-circle {
    font-size: 30px;
    color: #5cb85c;
  }

  .show-email-link {
    cursor: pointer;
  }
}

.accepted-holder {
  .fa-envelope-o {
    margin-right: 5px;
  }
}