.help-received-connection-title {
  text-align: center;
}

.help-received-connection-holder {
  margin-bottom: 20px;
}

@media(max-width:767px) {
  .received-grid-action-buttons {
    margin-top: 10px;
  }
}

.show-email-link {
  cursor: pointer;
}

.accepted-holder {
  .fa-envelope-o {
    margin-right: 5px;
  }
}