.help-received-connection-holder {
  margin-bottom: 20px;
}

.received-grid-action-buttons {
  margin-top: 10px;

  .btn-warning {
    margin-left: 10px;
  }

  .fa-check-circle {
    font-size: 30px;
    color: #5cb85c;
  }
}